[submodule "vendor/models/DeepPrime"]
	path = vendor/models/deepprime
	url = git@github.com:PeihengLu/DeepPrime.git
[submodule "vendor/models/OPED"]
	path = vendor/models/oped
	url = git@github.com:PeihengLu/OPED.git
[submodule "vendor/models/PRIDICT"]
	path = vendor/models/pridict
	url = git@github.com:PeihengLu/PRIDICT.git
[submodule "vendor/models/PRIDICT2"]
	path = vendor/models/pridict2
	url = git@github.com:PeihengLu/PRIDICT2.git
