[submodule "models/DeepPrime"]
	path = models/DeepPrime
	url = git@github.com:PeihengLu/DeepPrime.git
[submodule "models/PRIDICT"]
	path = models/PRIDICT
	url = git@github.com:PeihengLu/PRIDICT.git
[submodule "models/PRIDICT2"]
	path = models/PRIDICT2
	url = git@github.com:PeihengLu/PRIDICT2.git
[submodule "models/OPED"]
	path = models/OPED
	url = git@github.com:PeihengLu/OPED.git
